.peeche{
background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 24%, rgba(252, 176, 69, 1) 100%);
}
.curve
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.listkacolor{
    background-color: #FFFAF0;
    border: none;
}
.between{
    text-align: center;
}